$bg1-color: #231942;
$bg2-color: #5e548e;

$bg-item1-color: #CDB4DB;
$bg-item2-color: #FFC8DD;
$bg-item3-color: #FFAFCC;
$bg-item4-color: #BDE0FE;
$bg-item5-color: #A2D2FF;

$bg-cursor-color: #d90429;
